md-card{
    background: #fff;
}

md-input-container .md-input {
    border-width: 1px;
    height:45px;
    padding-left:10px;
}

md-input-container .md-placeholder, md-input-container label:not(.md-no-float):not(.md-container-ignore) {
    transform: translate3d(0,45px,0) scale(1);
    padding-left: 10px;
}
md-input-container.md-input-focused label:not(.md-no-float), md-input-container.md-input-has-placeholder label:not(.md-no-float), md-input-container.md-input-has-value label:not(.md-no-float) {
    transform: translate3d(0,6px,0) scale(.75);
    transition: transform .4s cubic-bezier(.25,.8,.25,1),width .4s cubic-bezier(.25,.8,.25,1);
    padding-left: 0;
}

md-input-container.md-input-focused .md-input,
md-input-container.md-input-resized .md-input,
md-input-container .md-input.ng-invalid.ng-dirty {
    padding-bottom: 0;
    border-width: 2px;
}

md-toast.md-default-theme.error .md-toast-content, md-toast .md-toast-content {
    background-color: #ca4f4f;
    color: rgb(250,250,250);
}