md-select.md-default-theme .md-select-value, md-select .md-select-value {
    border-color: rgba(0,0,0,0.12);
    border-width: 1px;
    border-style: solid;
    min-height: 40px;
}

md-input-container.no-errors-spacer .md-errors-spacer{
    display:none;
}