body, html {
    color: rgba(0,0,0,0.87);
    background-color: rgb(250,250,250);
    font-family: 'Roboto', sans-serif;
}

.api-backdrop{
    background: rgba(255, 255, 255, 0.3);
    position:fixed;
    top:0;
    left:0;
    z-index:1200;
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
    width: 100%;
}
.photo-upload{
    height:200px;
    border:1px solid #eee;
}

.signature-upload{
    height:100px;
    width:200px;
    border:1px solid #eee;
    white-space: normal;
}

.strong{
    font-weight: 500;
}
.small{
    font-size: 12px;
}